h1 {color: darkblue}

h1, h3 {font-style: italic;}

header p{font-family: "courier new"}

.fancy{font-family:Times}

header.fancy{color: magenta}

section.statistics header h3{color: red}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

img {
    float: left;
    padding: 0 0 0 10px;
    text-decoration: none;
}

p.important {
            font-weight: bold;
            font-size: 30px;
            background-color: aqua
            }

footer p{float:left; margin-top:30px}
